## References
Deep Learning Content-Based Filtering: https://github.com/Toqeer-Ahmad/Deep-Learning-for-Content-Based-Filtering/blob/main/Deep%20Learning%20for%20Content-Based%20Filtering.ipynb

Predicting Like or Dislike: https://towardsdatascience.com/researching-content-based-filtering-for-news-feeds-17954b1865d7

## Import Libraries

In [1]:
import pandas as pd
from rake_nltk import Rake
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

## Import Data

### News

In [2]:
columns = ['News ID', 'Category', 'SubCategory', 'Title', 'Abstract', 'URL', 'Title Entities', 'Abstract Entites']
news_df = pd.read_csv('./MINDsmall_train/news.tsv', names=columns, header=None, sep='\t')
news_df.head()

,News ID,Category,SubCategory,Title,Abstract,URL,Title Entities,Abstract Entites
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]
1,N19639,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,https://assets.msn.com/labs/mind/AAB19MK.html,"[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik...","[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik..."
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html,[],"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId..."
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",https://assets.msn.com/labs/mind/AACk2N6.html,[],"[{""Label"": ""National Basketball Association"", ..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...",https://assets.msn.com/labs/mind/AAAKEkt.html,"[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI..."

In [4]:
news_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51282 entries, 0 to 51281
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   News ID           51282 non-null  object
 1   Category          51282 non-null  object
 2   SubCategory       51282 non-null  object
 3   Title             51282 non-null  object
 4   Abstract          48616 non-null  object
 5   URL               51282 non-null  object
 6   Title Entities    51279 non-null  object
 7   Abstract Entites  51278 non-null  object
dtypes: object(8)
memory usage: 3.1+ MB

In [3]:
news_dev_df = pd.read_csv('./MINDsmall_dev/news.tsv', names=columns, header=None, sep='\t')
news_dev_df.head()

,News ID,Category,SubCategory,Title,Abstract,URL,Title Entities,Abstract Entites
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]
1,N18955,health,medical,Dispose of unwanted prescription drugs during ...,NaN,https://assets.msn.com/labs/mind/AAISxPN.html,"[{""Label"": ""Drug Enforcement Administration"", ...",[]
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html,[],"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId..."
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",https://assets.msn.com/labs/mind/AACk2N6.html,[],"[{""Label"": ""National Basketball Association"", ..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...",https://assets.msn.com/labs/mind/AAAKEkt.html,"[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI..."

In [6]:
news_dev_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42416 entries, 0 to 42415
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   News ID           42416 non-null  object
 1   Category          42416 non-null  object
 2   SubCategory       42416 non-null  object
 3   Title             42416 non-null  object
 4   Abstract          40395 non-null  object
 5   URL               42416 non-null  object
 6   Title Entities    42414 non-null  object
 7   Abstract Entites  42414 non-null  object
dtypes: object(8)
memory usage: 2.6+ MB

### Behavior

In [2]:
columns = ['Impression ID', 'User ID', 'Time', 'History', 'Impressions']
behaviors_df = pd.read_csv('./MINDsmall_train/behaviors.tsv', names=columns, header=None, sep='\t')
behaviors_df.head()

,Impression ID,User ID,Time,History,Impressions
0,1,U13740,11/11/2019 9:05:58 AM,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689-1 N35729-0
1,2,U91836,11/12/2019 6:11:30 PM,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N...
2,3,U73700,11/14/2019 7:01:48 AM,N10732 N25792 N7563 N21087 N41087 N5445 N60384...,N50014-0 N23877-0 N35389-0 N49712-0 N16844-0 N...
3,4,U34670,11/11/2019 5:28:05 AM,N45729 N2203 N871 N53880 N41375 N43142 N33013 ...,N35729-0 N33632-0 N49685-1 N27581-0
4,5,U8125,11/12/2019 4:11:21 PM,N10078 N56514 N14904 N33740,N39985-0 N36050-0 N16096-0 N8400-1 N22407-0 N6...

In [19]:
behaviors_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156965 entries, 0 to 156964
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Impression ID  156965 non-null  int64
 1   User ID        156965 non-null  object
 2   Time           156965 non-null  object
 3   History        153727 non-null  object
 4   Impressions    156965 non-null  object
dtypes: int64(1), object(4)
memory usage: 6.0+ MB

In [3]:
behaviors_dev_df = pd.read_csv('./MINDsmall_dev/behaviors.tsv', names=columns, header=None, sep='\t')
behaviors_dev_df.head()

,Impression ID,User ID,Time,History,Impressions
0,1,U80234,11/15/2019 12:37:50 PM,N55189 N46039 N51741 N53234 N11276 N264 N40716...,N28682-0 N48740-0 N31958-1 N34130-0 N6916-0 N5...
1,2,U60458,11/15/2019 7:11:50 AM,N58715 N32109 N51180 N33438 N54827 N28488 N611...,N20036-0 N23513-1 N32536-0 N46976-0 N35216-0 N...
2,3,U44190,11/15/2019 9:55:12 AM,N56253 N1150 N55189 N16233 N61704 N51706 N5303...,N36779-0 N62365-0 N58098-0 N5472-0 N13408-0 N5...
3,4,U87380,11/15/2019 3:12:46 PM,N63554 N49153 N28678 N23232 N43369 N58518 N444...,N6950-0 N60215-0 N6074-0 N11930-0 N6916-0 N248...
4,5,U9444,11/15/2019 8:25:46 AM,N51692 N18285 N26015 N22679 N55556,N5940-1 N23513-0 N49285-0 N23355-0 N19990-0 N3...

In [18]:
behaviors_dev_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73152 entries, 0 to 73151
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Impression ID  73152 non-null  int64
 1   User ID        73152 non-null  object
 2   Time           73152 non-null  object
 3   History        70938 non-null  object
 4   Impressions    73152 non-null  object
dtypes: int64(1), object(4)
memory usage: 2.8+ MB

## Checking difference between train and dev behavior.tsv

In [16]:
behaviors_df[behaviors_df['User ID'] == 'U10008']

,Impression ID,User ID,Time,History,Impressions
46854,46855,U10008,11/9/2019 2:13:33 PM,N23912 N30148 N46754 N33117 N9619 N36526 N4449...,N24272-0 N8016-0 N43595-0 N732-0 N8929-0 N3567...

In [17]:
behaviors_dev_df[behaviors_dev_df['User ID'] == 'U10008']

,Impression ID,User ID,Time,History,Impressions
25324,25325,U10008,11/15/2019 9:48:12 AM,N23912 N30148 N46754 N33117 N9619 N36526 N4449...,N55237-0 N50775-0 N5472-0 N58251-0 N62365-0 N4...

In [15]:
set(behaviors_df['User ID'].unique()) & set(behaviors_dev_df['User ID'].unique())

{'U10008',
 'U12671',
 'U82589',
 'U43301',
 'U56365',
 'U85257',
 'U26637',
 'U69688',
 'U50667',
 'U7160',
 'U74655',
 'U55281',
 'U60895',
 'U44999',
 'U14651',
 'U24085',
 'U16647',
 'U72159',
 'U6138',
 'U22551',
 'U54367',
 'U25433',
 'U9803',
 'U136',
 'U43951',
 'U5288',
 'U41966',
 'U10862',
 'U53200',
 'U62558',
 'U29706',
 'U26328',
 'U22115',
 'U42421',
 'U26626',
 'U85481',
 'U48126',
 'U27037',
 'U41969',
 'U47673',
 'U76591',
 'U81480',
 'U86516',
 'U70274',
 'U44217',
 'U92282',
 'U82568',
 'U46134',
 'U40751',
 'U74097',
 'U72722',
 'U10152',
 'U58150',
 'U85606',
 'U78750',
 'U76223',
 'U78709',
 'U58543',
 'U47226',
 'U11945',
 'U10742',
 'U47041',
 'U43229',
 'U26616',
 'U12851',
 'U58027',
 'U54898',
 'U1837',
 'U29508',
 'U84613',
 'U25314',
 'U86368',
 'U60681',
 'U48099',
 'U38904',
 'U32568',
 'U64885',
 'U31709',
 'U68046',
 'U78428',
 'U26543',
 'U53244',
 'U65059',
 'U78722',
 'U75893',
 'U82392',
 'U41835',
 'U13009',
 'U71849',
 'U63643',
 'U91774',
 'U38041',
 'U1163',
 'U1897',
 'U42607',
 'U57722',
 'U39211',
 'U3662',
 'U15529',
 'U69319',
 'U25395',
 'U4424',
 'U18217',
 'U66409',
 'U68482',
 'U56190',
 'U73963',
 'U15790',
 'U79243',
 'U37402',
 'U19165',
 'U32328',
 'U46747',
 'U12556',
 'U46919',
 'U29397',
 'U15495',
 'U22840',
 'U88608',
 'U89655',
 'U56812',
 'U59268',
 'U35230',
 'U8773',
 'U2392',
 'U61873',
 'U3539',
 'U85796',
 'U67102',
 'U32918',
 'U82181',
 'U74668',
 'U90518',
 'U36984',
 'U62598',
 'U14235',
 'U70466',
 'U5154',
 'U48080',
 'U61224',
 'U8283',
 'U39239',
 'U14213',
 'U66440',
 'U42413',
 'U85205',
 'U34804',
 'U15827',
 'U64564',
 'U54286',
 'U12183',
 'U57328',
 'U10218',
 'U48106',
 'U54252',
 'U79411',
 'U93079',
 'U91179',
 'U64022',
 'U37785',
 'U49861',
 'U55252',
 'U25828',
 'U39055',
 'U7935',
 'U18276',
 'U85340',
 'U33575',
 'U86353',
 'U71851',
 'U40635',
 'U6738',
 'U67485',
 'U25000',
 'U56731',
 'U81094',
 'U75176',
 'U74363',
 'U77889',
 'U85397',
 'U82799',
 'U60524',
 'U90087',
 'U11792',
 'U20563',
 'U59152',
 'U77864',
 'U80408',
 'U70313',
 'U93747',
 'U88930',
 'U58349',
 'U7850',
 'U53969',
 'U65326',
 'U84704',
 'U15488',
 'U20487',
 'U11801',
 'U46935',
 'U74112',
 'U79264',
 'U66491',
 'U83617',
 'U3364',
 'U5981',
 'U4665',
 'U87001',
 'U42202',
 'U56732',
 'U25710',
 'U62702',
 'U2291',
 'U54037',
 'U3703',
 'U70844',
 'U78413',
 'U58730',
 'U27077',
 'U73319',
 'U15283',
 'U60234',
 'U54810',
 'U56672',
 'U53154',
 'U6369',
 'U59025',
 'U79893',
 'U81000',
 'U45429',
 'U93492',
 'U21037',
 'U47334',
 'U91045',
 'U79566',
 'U40329',
 'U70695',
 'U22079',
 'U60991',
 'U41126',
 'U47895',
 'U70187',
 'U28302',
 'U39275',
 'U38290',
 'U54921',
 'U13496',
 'U39564',
 'U51669',
 'U62522',
 'U88157',
 'U38578',
 'U51931',
 'U79896',
 'U65437',
 'U13319',
 'U65426',
 'U42420',
 'U5849',
 'U79976',
 'U77917',
 'U25716',
 'U84683',
 'U13853',
 'U71608',
 'U78776',
 'U51129',
 'U31677',
 'U3487',
 'U6503',
 'U40365',
 'U61040',
 'U61054',
 'U90413',
 'U25535',
 'U31997',
 'U88152',
 'U62178',
 'U55279',
 'U92661',
 'U4267',
 'U84170',
 'U49543',
 'U20783',
 'U48853',
 'U29651',
 'U86746',
 'U14053',
 'U19574',
 'U60850',
 'U52175',
 'U16791',
 'U23157',
 'U85694',
 'U53629',
 'U46179',
 'U30600',
 'U13958',
 'U91151',
 'U46667',
 'U38342',
 'U53504',
 'U72878',
 'U15895',
 'U77581',
 'U67831',
 'U11508',
 'U69732',
 'U16334',
 'U27043',
 'U1413',
 'U31586',
 'U11706',
 'U21463',
 'U38678',
 'U56646',
 'U81356',
 'U53584',
 'U59029',
 'U56117',
 'U7007',
 'U66743',
 'U18019',
 'U54370',
 'U74959',
 'U63593',
 'U58228',
 'U61839',
 'U57351',
 'U2005',
 'U48167',
 'U346',
 'U54961',
 'U39841',
 'U82812',
 'U76816',
 'U12325',
 'U51229',
 'U29187',
 'U5970',
 'U63826',
 'U65183',
 'U41827',
 'U46741',
 'U18312',
 'U74667',
 'U68418',
 'U47533',
 'U10191',
 'U16913',
 'U24161',
 'U66215',
 'U9312',
 'U83790',
 'U34895',
 'U61239',
 'U1595',
 'U43356',
 'U86612',
 'U27029',
 'U1621',
 'U43896',
 'U59044',
 'U62043',
 'U10507',
 'U80896',
 'U382',
 'U86937',
 'U19988',
 'U61730',
 'U35990',
 'U78215',
 'U56237',
 'U41159',
 'U8088',
 'U52059',
 'U87258',
 'U32421',
 'U51096',
 'U25609',
 'U80332',
 'U83648',
 'U12423',
 'U86671',
 'U12611',
 'U59016',
 'U73466',
 'U56257',
 'U5550',
 'U86389',
 'U31103',
 'U36370',
 'U25450',
 'U57383',
 'U71913',
 'U6262',
 'U31025',
 'U63977',
 'U79961',
 'U19367',
 'U4518',
 'U86684',
 'U23676',
 'U56573',
 'U73454',
 'U70058',
 'U92017',
 'U32973',
 'U23481',
 'U22313',
 'U82865',
 'U15591',
 'U66696',
 'U79840',
 'U70287',
 'U23520',
 'U65341',
 'U3869',
 'U65362',
 'U37396',
 'U59679',
 'U77986',
 'U86221',
 'U37652',
 'U68461',
 'U80236',
 'U41173',
 'U86893',
 'U68812',
 'U65422',
 'U68503',
 'U8459',
 'U47902',
 'U78968',
 'U84833',
 'U86363',
 'U12732',
 'U54979',
 'U4815',
 'U64412',
 'U39194',
 'U61234',
 'U12452',
 'U53134',
 'U75496',
 'U34016',
 'U52453',
 'U77977',
 'U54806',
 'U9707',
 'U37469',
 'U43378',
 'U1493',
 'U63476',
 'U8241',
 'U68366',
 'U20493',
 'U70795',
 'U27966',
 'U68838',
 'U57792',
 'U19340',
 'U70449',
 'U5088',
 'U171',
 'U55253',
 'U19123',
 'U68058',
 'U44005',
 'U38901',
 'U33757',
 'U22022',
 'U56016',
 'U1150',
 'U1553',
 'U66081',
 'U42259',
 'U47866',
 'U77179',
 'U11320',
 'U34961',
 'U23672',
 'U36497',
 'U46016',
 'U47158',
 'U77183',
 'U68905',
 'U66039',
 'U28356',
 'U15469',
 'U3007',
 'U15561',
 'U27999',
 'U35273',
 'U31846',
 'U29898',
 'U35450',
 'U4694',
 'U5761',
 'U2006',
 'U37305',
 'U14383',
 'U57329',
 'U6179',
 'U17295',
 'U80939',
 'U85706',
 'U63258',
 'U42668',
 'U86310',
 'U15359',
 'U28704',
 'U37316',
 'U62597',
 'U4361',
 'U247',
 'U57196',
 'U32055',
 'U12580',
 'U20380',
 'U71611',
 'U83199',
 'U1945',
 'U48045',
 'U49924',
 'U22597',
 'U91846',
 'U8435',
 'U63868',
 'U24321',
 'U36368',
 'U49112',
 'U59068',
 'U19478',
 'U48063',
 'U63735',
 'U65061',
 'U4496',
 'U60636',
 'U53808',
 'U16861',
 'U63115',
 'U67158',
 'U93100',
 'U33580',
 'U43389',
 'U39885',
 'U2135',
 'U78929',
 'U85242',
 'U90437',
 'U63351',
 'U33733',
 'U66922',
 'U21416',
 'U85353',
 'U7197',
 'U85819',
 'U28126',
 'U27206',
 'U49371',
 'U13933',
 'U51810',
 'U49018',
 'U3136',
 'U36161',
 'U88196',
 'U41538',
 'U59138',
 'U8787',
 'U73996',
 'U86907',
 'U35279',
 'U35777',
 'U92625',
 'U73727',
 'U24760',
 'U50034',
 'U63714',
 'U15565',
 'U87820',
 'U88650',
 'U63701',
 'U49724',
 'U32454',
 'U90112',
 'U32132',
 'U54517',
 'U45964',
 'U33296',
 'U23459',
 'U87851',
 'U32021',
 'U91182',
 'U33114',
 'U54299',
 'U45001',
 'U78120',
 'U43711',
 'U17776',
 'U80744',
 'U38515',
 'U33120',
 'U58729',
 'U22697',
 'U3120',
 'U78683',
 'U57156',
 'U67765',
 'U71137',
 'U24775',
 'U41710',
 'U44028',
 'U13377',
 'U37293',
 'U90204',
 'U88586',
 'U62301',
 'U74007',
 'U44620',
 'U2494',
 'U26460',
 'U551',
 'U12623',
 'U91559',
 'U70606',
 'U75630',
 'U90152',
 'U23842',
 'U10944',
 'U24936',
 'U75262',
 'U87007',
 'U89062',
 'U10450',
 'U80655',
 'U12992',
 'U5252',
 'U75003',
 'U23890',
 'U92093',
 'U58684',
 'U53563',
 'U21996',
 'U41941',
 'U69657',
 'U11994',
 'U43326',
 'U51643',
 'U19522',
 'U39822',
 'U37013',
 'U73930',
 'U53450',
 'U17344',
 'U36421',
 'U39697',
 'U77416',
 'U92484',
 'U10868',
 'U69640',
 'U80320',
 'U60321',
 'U1549',
 'U6372',
 'U59620',
 'U21686',
 'U20825',
 'U92233',
 'U74860',
 'U4594',
 'U50300',
 'U82276',
 'U51094',
 'U40806',
 'U79146',
 'U37395',
 'U6114',
 'U3830',
 'U36343',
 'U91871',
 'U4570',
 'U33854',
 'U17110',
 'U26469',
 'U46313',
 'U59744',
 'U17697',
 'U62189',
 'U13882',
 'U81634',
 'U43781',
 'U33994',
 'U3908',
 'U56764',
 'U77633',
 'U42732',
 'U63660',
 'U90578',
 'U63680',
 'U93633',
 'U72511',
 'U38563',
 'U91252',
 'U40904',
 'U55482',
 'U81936',
 'U5214',
 'U20431',
 'U85163',
 'U14199',
 'U23009',
 'U74815',
 'U92570',
 'U5664',
 'U9545',
 'U10065',
 'U90219',
 'U8089',
 'U57061',
 'U61902',
 'U27559',
 'U70122',
 'U87968',
 'U88637',
 'U9897',
 'U88498',
 'U77261',
 'U2602',
 'U57921',
 'U11316',
 'U36038',
 'U26586',
 'U36609',
 'U48718',
 'U83020',
 'U61277',
 'U63784',
 'U90165',
 'U78954',
 'U4798',
 'U12425',
 'U65180',
 'U61487',
 'U12146',
 'U41497',
 'U52912',
 'U46733',
 'U81671',
 'U64565',
 'U68384',
 'U5628',
 'U34795',
 'U49437',
 'U33405',
 'U12466',
 'U12986',
 'U2160',
 'U4880',
 'U31059',
 'U71419',
 'U35872',
 'U2579',
 'U25154',
 'U60596',
 'U23232',
 'U56937',
 'U67589',
 'U4786',
 'U84652',
 'U78661',
 'U35571',
 'U42217',
 'U28749',
 'U50504',
 'U72525',
 'U41536',
 'U11536',
 'U75104',
 'U7316',
 'U93804',
 'U25871',
 'U90423',
 'U29326',
 'U32838',
 'U75909',
 'U68284',
 'U49232',
 'U43382',
 'U46778',
 'U26488',
 'U34765',
 'U40908',
 'U30480',
 'U64685',
 'U72296',
 'U49641',
 'U55579',
 'U55491',
 'U65578',
 'U86870',
 'U83355',
 'U66587',
 'U92564',
 'U55557',
 'U65864',
 'U39529',
 'U64193',
 'U27639',
 'U6645',
 'U28700',
 'U84983',
 'U24592',
 'U12023',
 'U8857',
 'U49050',
 'U74772',
 'U68485',
 'U88900',
 'U33329',
 'U42384',
 'U36870',
 'U77463',
 'U67521',
 'U67383',
 'U62228',
 'U64562',
 'U54203',
 'U89560',
 'U8168',
 'U16137',
 'U17571',
 'U79007',
 'U27737',
 'U56066',
 'U49480',
 'U93678',
 'U70725',
 'U27280',
 'U3078',
 'U51387',
 'U55115',
 'U82479',
 'U63084',
 'U8303',
 'U24948',
 'U74390',
 'U93088',
 'U72944',
 'U60876',
 'U90734',
 'U67573',
 'U37662',
 'U89976',
 'U72036',
 'U59973',
 'U22576',
 'U43331',
 'U554',
 'U11454',
 'U22377',
 'U6201',
 'U7149',
 'U30722',
 'U78849',
 'U25690',
 'U18599',
 'U75796',
 'U78966',
 'U55428',
 'U13061',
 'U4563',
 'U3138',
 'U31992',
 'U18032',
 'U33419',
 'U77412',
 'U10103',
 'U15210',
 'U92466',
 'U84493',
 'U1926',
 'U20420',
 'U2000',
 'U77493',
 'U63705',
 'U47192',
 'U79441',
 'U40710',
 'U70433',
 'U84566',
 'U87794',
 'U92225',
 'U80862',
 'U78061',
 'U78943',
 'U57874',
 'U38143',
 'U92436',
 'U14623',
 'U10259',
 'U8207',
 'U72021',
 'U86101',
 'U33825',
 'U72454',
 'U92292',
 'U15697',
 'U11876',
 'U73418',
 'U93455',
 'U34359',
 'U27936',
 'U57820',
 'U41874',
 'U19644',
 'U87077',
 'U64796',
 'U17112',
 'U2952',
 'U35456',
 'U1103',
 'U6155',
 'U42707',
 'U18815',
 'U41476',
 'U80821',
 'U10201',
 'U88797',
 'U81102',
 'U12736',
 'U28774',
 'U23334',
 'U58933',
 'U17299',
 'U78455',
 'U26536',
 'U63260',
 'U59430',
 'U27348',
 'U25611',
 'U29650',
 'U58953',
 'U36280',
 'U9732',
 'U49507',
 'U22140',
 'U34111',
 'U89835',
 'U84595',
 'U90978',
 'U40466',
 'U32913',
 'U73177',
 'U24127',
 'U8598',
 'U22361',
 'U63743',
 'U55232',
 'U89060',
 'U34724',
 'U93329',
 'U1266',
 'U29504',
 'U75732',
 'U46040',
 'U1285',
 'U37043',
 'U49521',
 'U15234',
 'U72963',
 'U79383',
 'U92378',
 'U11277',
 'U64466',
 'U77149',
 'U28014',
 'U65824',
 'U10491',
 'U55958',
 'U77061',
 'U29860',
 'U28094',
 'U81310',
 'U27103',
 'U3098',
 'U50621',
 'U74287',
 'U72404',
 'U48280',
 'U79828',
 'U80680',
 'U64490',
 'U63064',
 'U41974',
 'U84737',
 'U6129',
 'U46922',
 'U77659',
 'U31180',
 ...}

## Experiments

### Limiting to Title, Category, Subcategory, and Abstract

In [5]:
df = news_df[['Title', 'Category', 'SubCategory', 'Abstract']]
df.head()

,Title,Category,SubCategory,Abstract
0,"The Brands Queen Elizabeth, Prince Charles, an...",lifestyle,lifestyleroyals,"Shop the notebooks, jackets, and more that the..."
1,50 Worst Habits For Belly Fat,health,weightloss,These seemingly harmless habits are holding yo...
2,The Cost of Trump's Aid Freeze in the Trenches...,news,newsworld,Lt. Ivan Molchanets peeked over a parapet of s...
3,I Was An NBA Wife. Here's How It Affected My M...,health,voices,"I felt like I was a fraud, and being an NBA wi..."
4,"How to Get Rid of Skin Tags, According to a De...",health,medical,"They seem harmless, but there's a very good re..."

### Drop rows with missing abstracts

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51282 entries, 0 to 51281
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        51282 non-null  object
 1   Category     51282 non-null  object
 2   SubCategory  51282 non-null  object
 3   Abstract     48616 non-null  object
dtypes: object(4)
memory usage: 1.6+ MB

In [7]:
# dropping the Plot column
df.dropna(inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48616 entries, 0 to 51280
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        48616 non-null  object
 1   Category     48616 non-null  object
 2   SubCategory  48616 non-null  object
 3   Abstract     48616 non-null  object
dtypes: object(4)
memory usage: 1.9+ MB

C:\Users\chris\AppData\Local\Temp\ipykernel_23364\846006501.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

### Generating Bag of Words

In [8]:
# initializing the new column
df['Keywords'] = ""

for index, row in df.iterrows():
    # instantiating Rake, by default it uses english stopwords from NLTK
    # and discards all puntuation characters as well
    r = Rake()

    # extracting the words by passing the text
    r.extract_keywords_from_text(row['Abstract'])

    # getting the dictionary whith key words as keys and their scores as values
    key_words_dict_scores = r.get_word_degrees()
    
    # assigning the key words to the new column for the corresponding movie
    row['Keywords'] = list(key_words_dict_scores.keys())

# dropping the Abstract column
df.drop(columns = ['Abstract'], inplace = True)

df.head()

C:\Users\chris\AppData\Local\Temp\ipykernel_23364\3246967642.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Keywords'] = ""
C:\Users\chris\AppData\Local\Temp\ipykernel_23364\3246967642.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns = ['Abstract'], inplace = True)

,Title,Category,SubCategory,Keywords
0,"The Brands Queen Elizabeth, Prince Charles, an...",lifestyle,lifestyleroyals,"[shop, notebooks, jackets, royals, live, without]"
1,50 Worst Habits For Belly Fat,health,weightloss,"[seemingly, harmless, habits, holding, back, k..."
2,The Cost of Trump's Aid Freeze in the Trenches...,news,newsworld,"[lt, ivan, molchanets, peeked, parapet, sand, ..."
3,I Was An NBA Wife. Here's How It Affected My M...,health,voices,"[felt, like, fraud, nba, wife, help, fact, nea..."
4,"How to Get Rid of Skin Tags, According to a De...",health,medical,"[seem, harmless, good, reason, ignore, post, g..."

In [9]:
df['Bag of Words'] = df.apply(lambda x: ' '.join([x['Category']] + [x['SubCategory']] + x['Keywords']), axis=1)

# dropping the Category column
df.drop(columns = ['Category'], inplace = True)
# dropping the SubCategory column
df.drop(columns = ['SubCategory'], inplace = True)
# dropping the Keywords column
df.drop(columns = ['Keywords'], inplace = True)

df.head()

C:\Users\chris\AppData\Local\Temp\ipykernel_23364\4252739720.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bag of Words'] = df.apply(lambda x: ' '.join([x['Category']] + [x['SubCategory']] + x['Keywords']), axis=1)
C:\Users\chris\AppData\Local\Temp\ipykernel_23364\4252739720.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns = ['Category'], inplace = True)
C:\Users\chris\AppData\Local\Temp\ipykernel_23364\4252739720.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns = ['SubCategory'], inplace = True)
C:\Users\chris\AppData\Local\Temp\ipykernel_23364\4252739720.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns = ['Keywords'], inplace = True)

,Title,Bag of Words
0,"The Brands Queen Elizabeth, Prince Charles, an...",lifestyle lifestyleroyals shop notebooks jacke...
1,50 Worst Habits For Belly Fat,health weightloss seemingly harmless habits ho...
2,The Cost of Trump's Aid Freeze in the Trenches...,news newsworld lt ivan molchanets peeked parap...
3,I Was An NBA Wife. Here's How It Affected My M...,health voices felt like fraud nba wife help fa...
4,"How to Get Rid of Skin Tags, According to a De...",health medical seem harmless good reason ignor...

### Applying Count Vectorizer

In [10]:
# instantiating and generating the count matrix
count = CountVectorizer()
count_matrix = count.fit_transform(df['Bag of Words'])

# generating the cosine similarity matrix
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [18]:
# defining the function that takes in movie title 
# as input and returns the top 10 recommended movies
def recommendations(title, cosine_sim = cosine_sim):
    
    # initializing the empty list of recommended movies
    recommended_movies = []
    
    # gettin the index of the movie that matches the title
    idx = df[df['Title'] == title].index[0]

    # creating a Series with the similarity scores in descending order
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)

    # getting the indexes of the 10 most similar movies
    top_10_indexes = list(score_series.iloc[1:11].index)
    
    # populating the list with the titles of the best 10 matching movies
    for i in top_10_indexes:
        recommended_movies.append(list(df.index)[i])
        
    return recommended_movies

In [22]:
indices = recommendations('50 Worst Habits For Belly Fat')

df.loc[indices]['Title']

154      Those Grueling Workouts May Not Help You Lose ...
292      If You Have a Slow Metabolism, Here Are 5 Doct...
23602    Jillian Michaels Says Intermittent Fasting 'Is...
6440               10 Ways to Burn Belly Fat in 10 Minutes
6172     Discouraged From Trying to Lose Belly Fat and ...
29142    Get paid to get the flu: Study looking for vol...
6741     Kristina Went From 'Drastic Diets' to Losing 1...
4333     If You Can't Seem to Lose Belly Fat, Experts A...
31183    5 Changes I Made in My Life to Lose Face Fat a...
7676     Local anchor returning to TV after dealing wit...
Name: Title, dtype: object